body {
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    color: white;
    background-color: rgb(22, 37, 42);
    text-align: center;
    background-image: url("img/background.png");
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

span {
    background-color: darkcyan;
}

.maindiv {
    padding-left: 20px;
}

.blue {
    font-size: 40px;
    color: blue;
}
.red {
    font-size: 40px;
    color: lightcoral;
}

.viewsoucediv {
    float: left;
    position: relative;
    padding: 20px;
}

.viewsource {
    width: 50px;
    height: 50px;
    align-content: left;
    transition: transform .3s ease-in-out, transform .3s ease-in-out;
}

.viewsource:hover {
    transform: rotate( 360deg );
}