body {
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    color: white;
    background-color: rgb(22, 37, 42);
    text-align: center;
    background-image: url("img/background.png");
}

section {
    left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

span {
    background-color: darkcyan;
}

.maindiv {
    top: 0;
    left: 0;
}

.blue {
    font-size: 40px;
    color: blue;
    padding-left: -50px;
}

.red {
    font-size: 40px;
    color: lightcoral;
}

.buttondiv {
    align-items: center;
    position: relative;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    gap: 20px;
    grid-template-columns: auto auto auto;
    
}

.linkbutton {
    border-radius: 10px;
    color: lightblue;
    min-width: 150px;
    min-height: 50px;

    background-color: blue;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

.linkbutton:hover {
    min-width: width + 1%;
    background-color: rgb(98, 98, 253);
}

.viewsoucediv {
    float: left;
    position: absolute;
    padding: 20px;
    z-index: 1;
}

.viewsource {
    width: 50px;
    height: 50px;
    align-content: left;
    transition: transform .5s ease-in-out, transform .5s ease-in-out;
}

.viewsource:hover {
    transform: rotate(360deg);
}